<div class="empty_feed_notice">
    <h4> {{ title }} </h4>
    {{#if (or search_data.query_words search.topic_query search_data.stream_query)}}
    <div>
        {{#if search_data.has_stop_word}}{{#tr}}Some common words were excluded from your search.{{/tr}} <br/>{{/if}}{{#tr}}You searched for:{{/tr}}
        {{#if search_data.stream_query}}
        <span>stream: {{search_data.stream_query}}</span>
        {{/if}}
        {{#if search_data.topic_query}}
        <span>topic: {{search_data.topic_query}}</span>
        {{/if}}
        {{#each search_data.query_words}}
            {{#if is_stop_word}}
            <del>{{query_word}}</del>
            {{else}}
            <span>{{query_word}}</span>
            {{/if}}
        {{/each}}
    </div>
    {{else}}
    {{#if is_spectator}}
        <div class="spectator-empty-narrow-notice">
            <p>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{#tr}}
                Please note that your experience is limited to
                <z-link>web-public streams</z-link>.
                {{#*inline "z-link"}}<a href="/help/web-public-streams"
                target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                {{/tr}}
                &nbsp;
                {{#tr}}
                <z-link>Log in</z-link> to access the full experience of Zulip!
                {{#*inline "z-link"}}<a href="/login/">{{> @partial-block}}</a>{{/inline}}
                {{/tr}}
            </p>
        </div>
    {{/if}}
    {{{ html }}}
    {{/if}}
</div>
